@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #ff0d8e;
  --text-secondary-color: #e060a4;
  --colon-color: #fac7e2;
  --text-cmd: #aa4b7e;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #222;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 26px;
}

ul {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #aaa;
}

p {
  margin: 20px 0;
}

nav {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials > li {
  margin: 10px 0;
}

.about-btn {
  color: var(--text-color);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.main-container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

.track {
  color: var(--text-secondary-color);
}

.cmd {
  color: var(--text-cmd);
}

.colon {
  color: var(--colon-color);
}

i {
  margin-right: 10px;
  margin-left: 10px;
}

.about-h {
  margin-top: 100px;
  margin-bottom: 35px;
}

.back {
  font-size: 25px;
  margin-top: 45px;
  font-weight: bolder;
  text-decoration: underline;
}

.zielino {
  color: var(--text-color);
}

.fallback-div {
  color: #aaa;
  background-color: #222;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ddd;
  }
}

@media screen and (max-width: 960px) {
  .about-h {
    margin-top: 100px;
    font-size: 36px;
  }

  .about-p {
    font-size: 16px;
    margin: 10px 20px;
  }

  h1 {
    letter-spacing: -3px;
  }
}

.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.dropdown {
  position: relative;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}

.btn-link {
  font-weight: 400;
  color: var(--text-color);
  text-decoration: underline;
}
.btn-link:hover {
  color: var(--text-secondary-color);
}
.btn-link:disabled,
.btn-link.disabled {
  color: #6c757d;
}

.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #e060a4;
  text-align: left;
  list-style: none;
  background-color: #444;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 600;
  color: var(--text-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--text-color);
  background-color: #666;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6b475b;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1rem;
  color: #ff3ebf;
  font-weight: 650;
}

.dropdown-menu-dark {
  color: #dee2e6;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
}
.dropdown-menu-dark .dropdown-item:hover,
.dropdown-menu-dark .dropdown-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
  color: #fff;
  background-color: #0d6efd;
}
.dropdown-menu-dark .dropdown-item.disabled,
.dropdown-menu-dark .dropdown-item:disabled {
  color: #adb5bd;
}
.dropdown-menu-dark .dropdown-divider {
  border-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu-dark .dropdown-item-text {
  color: #dee2e6;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.language-select {
  margin-top: 20px;
  margin-right: 20px;
}
